body {
  font-size: 16px;
  font-family: 'Source Sans Pro';
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: 'Spectral', serif;
}

.home, .main-content-container {
  font-size: 1.125em;
}

.home, .main-content-container, .extra-content-container {
  line-height: 1.5;
}



/* Header */
/*
.site-header-container {
  background:#020106;
}
*/

/*
.site-header-container .headroom {
  background: #020106;  
}
*/

.site-header {
  display: flex;
  margin: 0 5%;
}

.site-header a {
  color: #fff;
  text-decoration: none;
}

.site-header .site-title {
  margin: 1em 0;
  padding-right: 2em;
  flex: 2;
}

.site-header .site-title a {
  display: block;
}

.site-header .site-title h1 {
  margin: 0 0 0.25em 0;
  font-family: 'Spectral', serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: -0.025em;
  font-size: 1.75em;
  color: #ee7202;
  
}

.site-header .site-subtitle {
  color: #ccc;
  display: inline-block;
  max-width: 180px;
}

.site-header nav  {
  width: 100%;
  display: flex;
}

.site-header .nav-button-container {
  position: absolute;
  top: 16px;
  right: 16px;

}

.site-header .nav-button {
  color: #ee7202;  
  cursor: pointer;
  font-size: 32px;
}

.site-header .nav-button i {
  font-size: 32px;
  margin: 16px;
}

.nav-close-button-container {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 16px;
  display: flex;
}

.nav-close-button {
  color:#000;  
  cursor: pointer;
  font-size: 32px;
  margin-top: 16px;
}

.nav-close-button i {
  font-size: 32px;
  margin: 16px;
}
  
.site-header nav, .site-header .site-subtitle  {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.25;  
}

.site-header .site-subtitle {
  font-size: 0.75em;
}

.dock-menu ul {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

.dock-menu ul .active-category {
  background: rgba(0,0,0,0.10);
}

.dock-menu ul li a {
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.23);
  padding: 1em;  
  transition: background-color 0.5s;
}

.dock-menu ul a:hover {
  background: rgba(0,0,0,0.05);
}

.site-header .horizontal-menu ul {
  display: none;
}

.headroom {
  background: rgba(2,1,6,0.875);
}

@media screen and (min-width: 1024px) {
  .site-header .nav-button-container {
    display: none;
  }

  .dock-menu {
    display: none !important;
  }

  .site-header .horizontal-menu {
    z-index: 10000;
  }

  .site-header .horizontal-menu ul {
    flex: 6;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .site-header .horizontal-menu ul li {
    flex: 1;
    display: flex;
    margin: 2em 0;
    border-left: 1px solid #454545;
    text-align: center;
  }

  .site-header .horizontal-menu ul li:last-child {
    border-right: 1px solid #454545;
  }

  .site-header .horizontal-menu ul li a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    font-size: 0.875em;
    color: #ccc;    
    transition: color 0.333s;
  }

  .site-header .horizontal-menu ul li a:hover {
    color: #fff;
  }

  .nav-link-text {
    flex: 1;
  }

  
  .site-header .horizontal-menu .active-category a {
    color: #fff;
  }

}

@media screen and (min-width: 1536px) {
  .site-header .horizontal-menu::after {
    content: '';
    flex: 1;
  }
}

/* Footer */

.site-footer {
  background: #121212;
}

.site-footer a {
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer h3 {
  font-size: .875em;
  font-weight: 200;
  letter-spacing: .1425em;
  text-transform: uppercase;
  color: #ee7202;
}

.site-info-container {
  background: #272524;
  padding: 2em 0;
}

.site-info {
  margin: 2em 5%;
  display: flex;
  color: #ccc;
  flex-direction: column;
  
}

@media screen and (min-width: 960px) {
  .site-info {
    flex-direction: row;
  }
}

.site-info a {
  color: #fff;
}

.site-info .about, .site-info .contact, .site-info .links {
  margin-bottom: 2em;
}
  
.site-info .about {
  flex: 2;
  padding-right: 5%;
}

@media screen and (min-width: 960px) {
  .site-info .about {
    display: table;
    display: flex;
  }

  .site-info .about .portrait {
    display: table-cell;
    margin-right: 5%;
    background: white;
  }
  
  .site-info .about .portrait {
    display: table-cell;
    margin-right: 5%;
  }
}

.site-info .about .portrait {
  max-width: 128px;
  background: white;
  margin-bottom: 1em;
}
  
.site-info .about .portrait img {
  width: 100%;
  height: auto;
}

.site-info .about .introduction {
  display: table-cell;
}

.site-info .contact, .site-info .links {
  flex: 1;
}

.site-info .contact address, .site-info .links a, .site-info .about a {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.75em;
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
  .site-info .contact address, .site-info .links a, .site-info .about a {
    font-size: 0.875em;
  }
}

.site-info .contact address {
  font-style: normal;
}

.site-info a {
  display: block;
}

.site-credits {
  color: #333;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.75em;  
}

.site-credits a {
  color: #454545;
  transition: color 0.33s;
}

.site-credits a:hover {
  color: #757575;
}

.site-credits .contentful-wordmark {
  float: right;
  opacity: 0.5;
  transition: opacity 0.33s;
}

.site-credits .contentful-wordmark:hover {
  opacity: 1;
}

/* Home */

.home {
  display: table;
  display: flex;
  justify-content: center;
  flex-direction: column;  
  min-height: 87vh;
  background: #020106;
}

.home .intro-container {
  display: table-cell;
  vertical-align: middle;
  display: flex;
  width: 100%;
  padding-bottom: 4em;
}

.home .intro {
  position: absolute;
  z-index: 1000;    
  color: #fff;
  margin: 0 5%;
}

.home .intro h2 {
  margin: 0;
  font-size: calc(22px + 8 * ((100vw - 240px) / 680));
  font-weight: normal;
  color: #ee7202;
  letter-spacing: -0.025em;
  transition: transform 2s cubic-bezier(.25,.8,.25,1), opacity 3s;
}

.home .intro p {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.675em;  
  margin: 0.5em 0 0;
  transition: transform 2s cubic-bezier(.25,.8,.25,1), opacity 3s;
  transition-delay: 0.25s;
}

@media screen and (min-width: 768px) {
  .home .intro p {    
    font-size: 0.75em;  
  }
}

@media screen and (min-width: 960px) {
  .home .intro p {    
    font-size: 0.875em;  
  }
}

.home .intro h2.uninitialized {
  transform: translateY(-10px);
  opacity: 0;
}

.home .intro p.uninitialized {
  transform: translateY(16px);
  opacity: 0;
}

.background-image-container {
  background: #020106;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.background-image {
  background-size: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  transition: all 2s;
  max-width: 75%;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
}

.background-image-container .background-not-loaded {
  transform: scale(1.1);
  opacity: 0;
}

@media screen and (min-width: 960px) {
  .background-image {
    max-width: 50%;
    opacity: 1;
  }
  
}

.background-image img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
/* Content */

.content {
  background: #fff;
  color: #333;
  margin: 0 auto;
  min-height: 61.8vh;
  margin-bottom: 3em;
}

.content a {
  color: #333;
}

.projects {
  margin: 2.5em 5%;  
}

.projects-list-container {
  margin: 0 auto;
  max-width: 1280px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 -1em;
}

.projects a {
  display: block;
  text-decoration: none;
  color: #333;
}

.project-item {
  display: inline-block;
  width: 100%;
  border-left: 1em solid #fff;
  border-right: 1em solid #fff;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 480px) {
  .project-item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .project-item {
    width: 33.3%;
  }
}

.project-item:hover .project-featured-image {
  transform: scale(1.05);
}

.project-item .project-featured-image {
  width: 100%;
  height: auto;
  transition: all .5s cubic-bezier(.25,.8,.25,1);
  -webkit-backface-visibility: hidden;  
}

.project-item h3 {
  margin-top: 0;
}

.project-item .project-description {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.875em;
  line-height: 1.375em;
  color: #666;
}

.page-body, .page-credits, .related-pages {
  margin: 0 5%;
}

.page-body h1, .page-body h2, .page-body h3, .page-body h4,
.page-extra-content h1, .page-extra-content h2, .page-extra-content h3, .page-extra-content h4{
  text-align: center;
}

.page-title {
  font-size: 1.5em;
  line-height: 1.125;
  margin: 1.5em 5% 1em 5%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 2em;
  }
}

.page-year {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.875em;
  margin: -1.5em 5% 2em 5%;
  text-align: center;
  color: #666;
}

.main-content-container, .extra-content-container {
  max-width: 768px;
  margin: 0 auto;
}

sup a {
  color: #ee7202 !important;
}

.extra-content-container hr {
  margin: 2em 0;
}

@media screen and (min-width: 768px) {
  .page-body, .page-extra-content {
    text-align: justify;
  }
}

.page-body img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.project-image-container {
  pointer-events: none;
  border-left: 0.5em solid #fff;
  border-right: 0.5em solid #fff;
}

.unslicked .project-image-container {
  border: none;
  margin: 0 5% 1em 5%;
}

.unslicked .project-image-container img {
  width: 100%;
  height: auto;
}

.image-slider-container {
  margin: 3em 0;
  transition: opacity 0.25s;
}

.slick-slider {
  max-height: 640px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.related-projects {
  margin-top: 4em;
}

.related-projects .related-projects-title {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  padding: 1.5em 0 0 0;
}

.related-projects .project-item img {
  filter: grayscale(1);
  opacity: 0.75;
  
}

.related-projects .project-item:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.page-credits {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.875em;
}

.page-credits table {
  margin-bottom: 1.5em;
}

.page-credits h3 {
  font-size: 1.125em;
  margin: 1.5em 0 0.5em 0;
}

.page-credits table {
  width: 100%;
}

.page-credits table td:first-child {
  padding-right: 1em;
}

.page-credits table td {
  width: 50%;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .page-credits table td:first-child {
    width: 38.2%;
  }
  
  .page-credits table td {
    width: 61.8%;
  }  
}

.page-extra-content {
  margin: 0 5%;
}

.page-extra-content p {
  font-size: 0.875em;
  line-height: 1.75; 
  color: #666;
}

.cv-year {
  width: 17.5%;
  font-size: .75em;
  font-family: Source Code Pro;
  font-weight: 200;
  padding-right: 1em;
  vertical-align: top;
}

@media screen and (min-width: 720px) {
  .cv-year {
    font-size: 0.875em;
  }
}

table {
  text-align: left;
}
.slick-next, .slick-prev {
  height: 48px;
  width: 48px;
  line-height: 0;
  font-size: 36px;
  font-style: normal;
  cursor: pointer;
  color: #fff;
  background: rgba(0,0,0,0.25);
  border-radius: 48px;
  top: 50%;
  transform: translate(0,-50%);
  border: none;
  outline: 0;
  position: absolute;
  z-index: 1000;
  font-family: 'Material Icons';
}

.slick-prev {
  left: 16px;
}

.slick-next {
  right: 16px;
}